<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>EDITAR EQUIPO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [formGroup]="form">
    <ion-item class="item-nombre">
      <ion-label position="floating">Nombre de equipo</ion-label>
      <ion-input formControlName="nombre" [(ngModel)]="equipo.nombre" ></ion-input>
    </ion-item>
    
    <ion-item class="item-cantidad">
      <ion-label position="floating">Descripción de equipo</ion-label>
      <ion-input formControlName="descripcion" [(ngModel)]="equipo.descripcion" ></ion-input>
    </ion-item>

    <ion-button class="boton-guardar" (click)="actualizar()">Actualizar</ion-button>
  </div>
  

</ion-content>