<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRO </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [formGroup]="form">
    <ion-list>
      <ion-item fill="outline">
        <ion-label>Nombres</ion-label>
        <ion-input formControlName="nombres"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item fill="outline">
        <ion-label>Apellidos</ion-label>
        <ion-input formControlName="apellidos"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item fill="outline">
        <ion-label>Celular</ion-label>
        <ion-input type="tel" formControlName="celular"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item fill="outline">
        <ion-label>Correo</ion-label>
        <ion-input type="email" formControlName="correo"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item fill="outline">
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" formControlName="contrasenia"></ion-input>
      </ion-item>
    </ion-list>
    
    <ion-grid class="botones-signin">
      <ion-button color="danger" routerLink="/main">
        Cancelar
      </ion-button>
      <ion-button routerLink="/login" (click)="crear()">
        Guardar
      </ion-button>
    </ion-grid>
  </div>
</ion-content>