<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>INICIO DE SESIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-img src="https://i.postimg.cc/Bvmj2fvw/ALACANCHAblack.png"></ion-img>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-item fill="solid">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" ngModel email></ion-input>
      <ion-note slot="helper">Ingresa un correo registrado</ion-note>
      <ion-note slot="error">Correo inválido</ion-note>
    </ion-item>
    <ion-item fill="solid">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" ngModel password></ion-input>
      <ion-note slot="helper">Ingresa tu contraseña</ion-note>
      <ion-note slot="error">Contraseña inválida</ion-note>
    </ion-item>
  </ion-grid>

  <ion-grid>
    <a class="no-registrado">¿No tienes cuenta?</a>
    <a routerLink="/signin">Regístrate</a>
  </ion-grid>

  <ion-grid class="boton-ingreso">
    <ion-button color="warning" routerLink="/home">
      Ingresar
      <ion-icon slot="end" name="enter"></ion-icon>
    </ion-button>
  </ion-grid>

</ion-content>