<ion-header>
  <ion-toolbar color="success">
    <ion-title>A LA CANCHA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="espacio-tarjetas">
    <ion-row>
      <ion-col>
        <ion-card class="tarjeta-principal">
          <ion-card-header>
            <img alt="Silhouette of mountains" src="https://d26itsb5vlqdeq.cloudfront.net//image/17289CB2-BE49-AD67-ED45129E6B3E58FF" />
            <ion-card-title>Arma tu combo y juega</ion-card-title>
          </ion-card-header>

          <ion-card-content></ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="tarjeta-principal">
          <ion-card-header>
            <img alt="Silhouette of mountains" src="https://img.freepik.com/fotos-premium/joven-jugador-futbol-hombre-cansado-aburrido_1187-71880.jpg" />
            <ion-card-title>Encuentra con quién jugar</ion-card-title>
          </ion-card-header>

          <ion-card-content></ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="botones">
    <ion-button routerLink="/signin">
      Registrarse
    </ion-button>
    <ion-button color="warning" routerLink="/login">
      Iniciar sesión
    </ion-button>
  </ion-grid>



</ion-content>
