<ion-header>
  <ion-toolbar color="success">
    <ion-title>A LA CANCHA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-title>Arma tu combo y juega</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-title>Encuentra con quién jugar</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="botones">
    <ion-button routerLink="/signin">
      Registrarse
    </ion-button>
    <ion-button color="warning" routerLink="/login">
      Iniciar sesión
    </ion-button>
  </ion-grid>
  
</ion-content>