.boton-crear{
    margin-top: 50px;
}
.card-crearJugador{
    background-color: #3880ff;
}
.boton-agregar{
    margin-top: 25px;
}
.titulo-lista{
    margin-top: 50px;
}
.titulo-columna{
    font-weight: bold;
}