ion-button{
    margin-top: 25px;
}
ion-item{
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
.lista-jugadores{
    margin-top: 50px;
}
.titulo-columna{
    font-weight: bold;
}