<ion-header>
  <ion-toolbar>
    <ion-title>Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="3">
          6
        </ion-col>
        <ion-col size="3">
          5
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="3">
          4
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="3">
          3
        </ion-col>
        <ion-col size="3">
          2
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col size="3">
          1
        </ion-col>
      </ion-row>
    </ion-grid>
  <br>
  <br>
    <ion-col>
      A La Banca <br />
      # <br />
      # <br />
      # <br />
    </ion-col>
  </ion-grid>
  <ion-button [routerLink]="['/home']">
    Regresar
    <ion-icon slot="end" name="back"></ion-icon>
  </ion-button>
</ion-content>
