<ion-header>
  <ion-toolbar color="success">
    <ion-title>EQUIPO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <ion-item>
    <ion-label>
      <h3>LISTA DE EQUIPOS DONDE ERES EL CAPITÁN</h3>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label class="titulo-columna">Nombre</ion-label>
      <ion-label class="titulo-columna">Jugadores</ion-label>
      <ion-label class="titulo-columna" slot="end">Opciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Aliados FC</ion-label>
      <ion-label>7/8</ion-label>
      <ion-button slot="end" color="dark">
        <ion-icon name="construct-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

<ion-button class="boton-crear" routerLink="/create-team">Crear equipo</ion-button>

<ion-item>
  <ion-label>
    <h3>LISTA DE EQUIPOS DONDE ERES JUGADOR</h3>
  </ion-label>
</ion-item>

<ion-list>
  <ion-item>
    <ion-label></ion-label>
  </ion-item>
</ion-list>

<ion-button class="boton-buscar" color="warning">Buscar equipo</ion-button>

</ion-content>