<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title>A La Cancha</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list (click)="onClick()">
      <ion-item lines="none" routerLink="/home"><ion-icon slot="start" name="home-outline" routerLink="/home"></ion-icon>Inicio</ion-item>
      <ion-item lines="none" routerLink="/team"><ion-icon slot="start" name="football-outline" routerLink="/team"></ion-icon> Gestionar Equipo</ion-item>
      <ion-item lines="none" routerLink="/search-team"><ion-icon slot="start" name="search-outline" routerLink="/search-team"></ion-icon> Buscar Equipo</ion-item>
      <ion-item lines="none" routerLink="/main"><ion-icon slot="start" name="exit-outline" routerLink="/main"></ion-icon> Salir</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
