<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- <ion-buttons slot="start">
      <ion-menu-button menu="menu"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>
      INICIO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>No haces parte de ningún equipo. ¡Anímate a crear uno o a unirte a uno!</ion-card-title>
    </ion-card-header>
    <ion-button fill="clear" routerLink="/team">Crear equipo</ion-button>
    <ion-button fill="clear">Buscar equipo</ion-button>
  </ion-card>

</ion-content>
