<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="onClick()">
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>
      Bienvenido {{usuario.nombres}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>No haces parte de ningún equipo. ¡Anímate a crear uno!</ion-card-title>
    </ion-card-header>
    <ion-button fill="clear" routerLink="/team">Crear equipo</ion-button>
    <!--<ion-button fill="clear" routerLink="/search-team">Buscar equipo</ion-button>-->
  </ion-card>

  <ion-grid>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://scontent.feoh2-1.fna.fbcdn.net/v/t1.6435-9/89472043_154310059378905_5096756154504052736_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeFHTDSJ_MnSpQnwpLJHvDGGg3jvQTdBjxaDeO9BN0GPFvsti-46sxDtd-0UrPWZXaw&_nc_ohc=u2_aly1BK2QAX-Wy7X2&tn=WpCmZsN-KYZbEGcU&_nc_ht=scontent.feoh2-1.fna&oh=00_AfCCf0jTrpCjRdFAxQ3FQpifzNQSh547FyMA3pInyr6KZQ&oe=63A5E5C4" />

    </ion-card>
  </ion-grid>

</ion-content>